h1 {
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 60px;
}

#scoretable td {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: medium;
    width: 90px;
    height: 40px;
    background-color: #64B5F6;
    border: 3px solid #000000;
}

#welcome, #loggedin {
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 25px;
}

#login, #startGame, #return {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    font-family: 'Fontdiner Swanky', cursive;
    color: #ffffff;
    font-size: 25px;
    background: #3498db;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    margin:auto;
    display:block;
}

#login:hover , #startGame:hover, #return:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

#return {
    display: none;
}
#gameBoard {
    padding: 0;
    margin: auto;
    display: block;
}

header {
    background-color: #1976D2;
    color: #ffffff;
    width: 100%;
    margin-top: -40px;
    display: block;
    position: relative;
    alignment: center;
    vertical-align: top;
}

div {
    width: 75%;
    margin: auto;
    display: block;
    position: relative;
    alignment: center;
    background-color: #BBDEFB;
    border: 3px solid #1976D2;
}
